################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project4.vcxproj.user
/project4.vcxproj.filters
/project4.vcxproj
/project4.sln
/.vs/proj4/v17
/.vs/proj4/FileContentIndex
/.vs
/x64/Debug/vc143.pdb
/x64/Debug/vc143.idb
/x64/Debug/project4.vcxproj.FileListAbsolute.txt
/x64/Debug/project4.tlog/project4.lastbuildstate
/x64/Debug/project4.tlog/link.write.1.tlog
/x64/Debug/project4.tlog/link.read.1.tlog
/x64/Debug/project4.tlog/link.command.1.tlog
/x64/Debug/project4.tlog/CL.write.1.tlog
/x64/Debug/project4.tlog/CL.read.1.tlog
/x64/Debug/project4.tlog/CL.command.1.tlog
/x64/Debug/project4.tlog
/x64/Debug/project4.pdb
/x64/Debug/project4.log
/x64/Debug/project4.ilk
/x64/Debug/project4.exe.recipe
/x64/Debug/project4.exe
/x64/Debug/project4.Build.CppClean.log
/x64/Debug/proj4.obj
/x64/Debug/Game.obj
/x64/Debug/Bloon.obj
/x64/Debug/Basic.obj
/x64/Debug
